body{
    font-family: 'Poppins', sans-serif;

}

.name-highlight{
    color: deepskyblue;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5% ;
    padding: 2%;


}
.halfwidth img{
    width: 100%;
}