body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
.name-highlight{
    color: rgba(241, 58, 58, 0.979);
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5% ;
    padding: 2%;
    


}
.halfwidth img{
    width: 100%;
}
.topbanner{
    background-image: url("pic/top-banner.png");
    background-repeat: no-repeat;
    padding-top: 20px;
    
   
}
section{
    
    height:500px;
    padding-bottom: 60px;
    

}
.linkbtn{
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(45deg, rgb(230, 62, 193), tomato);
    padding: 15px 20px;
    border-radius: 10px;

}
.secondbanner{
    background-image: url("pic/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 65px;


}
.dreambtn{
    color: white;
    font-weight: 600px;
    padding: 15px 20px;
    text-decoration: none;
    background-image: linear-gradient(90deg, tomato, yellowgreen);
    border-radius: 10px;
}
p{
    color: grey;
}
.hh{
    color: orange;
    font-weight: 200;
}
.box{
    box-shadow: 10px 10px 40px grey ;
    border-radius: 13px;
    height: 80%;
}
.experience{
    background-image: url("pic/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#fullstack{
    border-left: 7px solid;
    border-image: linear-gradient( yellowgreen, tomato );
    border-image-slice: 1;
    background-color: white;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient( rgb(78, 183, 253), rgb(84, 31, 170) );
    border-image-slice: 1;
    
}
#ex{
    padding-left: 20px;
}